{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to the Quote of the Day application!</h2>
    <p>This application presents quotes and images from Stephen Curry. Stephen Curry is an American professional basketball player for the Golden State Warriors in the NBA, widely regarded as one of the greatest shooters in basketball history. He has won four NBA championships and two MVP awards, revolutionizing the game with his prolific three-point shooting. Curry played college basketball at Davidson before being drafted in 2009.</p>
    <p>This page was created by: Ivan Yang</p>
{% endblock %}
