<!DOCTYPE html>
<html>
<head>
    <title>Quote of the Day</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Quote of the Day</h1>
        <nav>
            <a href="{% url 'quote' %}">Home</a> |
            <a href="{% url 'show_all' %}">Show All</a> |
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

