<!-- Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the html for confirmation about adding a certain player to a watchlist. It handles the submission of the form, and triggers the redirection upon success.  -->

{% extends 'project/base.html' %}
{% block content %}

<div class="add-to-watchlist-container">
    <h2>Add to Watchlist</h2>
    <p>Are you sure you want to add <strong>{{ player.name }}</strong> to your watchlist?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="submit-btn">Yes</button>
        <a href="{% url 'player_detail' pk=player.pk %}" class="cancel-btn">Cancel</a>
    </form>
</div>
{% endblock %}
