<!-- Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the html structure for the login page. It also handles submission of the form, redirection upon success, and a reference to the register page for first-time users.  -->

{% extends "project/base.html" %}

{% block content %}

<div class="login-form">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'matchups' %}">
        <button class="login-btn" type="submit">Log in</button>
    </form>
    <a class="register-btn" href="{% url 'register' %}">Don't have an account? Register here</a>
</div>
{% endblock %}
