<!-- Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the HTML for the matchup page/matchup view, which shows the available NBA games happening today.  -->

{% extends "project/base.html" %}
{% block content %}

<div class="matchups-container">
    {% for matchup in matchups %}
        <a class="matchup-card" href="{% url 'matchup_detail' matchup.id %}">
            <img src="{{ matchup.team1_image_url }}" alt="{{ matchup.team1.name }}" width="50">
            <h3>{{ matchup.team1.name }} vs {{ matchup.team2.name }}</h3>
            <img src="{{ matchup.team2_image_url }}" alt="{{ matchup.team2.name }}" width="50">
        </a>
    {% endfor %}
</div>

{% endblock %}
