{% extends "project/base.html" %}

{% block content %}
<h1 class="player-detail-header">{{ player.name }} - ({{ player.team.name }} / {{ player.position }})</h1>
<h2 class="player-detail-header">Season Averages:</h2>
<table>
    <thead>
        <tr>
            <th>Minutes</th>
            <th>Points</th>
            <th>Assists</th>
            <th>Rebounds</th>
            <th>3PT</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Turnovers</th>
            <th>Fouls</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ player_averages.minutes_per_game }}</td>
            <td>{{ player_averages.points_per_game }}</td>
            <td>{{ player_averages.assists_per_game }}</td>
            <td>{{ player_averages.rebounds_per_game }}</td>
            <td>{{ player_averages.three_pointers_per_game }}</td>
            <td>{{ player_averages.steals_per_game }}</td>
            <td>{{ player_averages.blocks_per_game }}</td>
            <td>{{ player_averages.turnovers_per_game }}</td>
            <td>{{ player_averages.fouls_per_game }}</td>
        </tr>
    </tbody>
</table>
<h2 class="player-detail-header">Recent Games:</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Minutes</th>
            <th>Points</th>
            <th>Assists</th>
            <th>Rebounds</th>
            <th>3PT</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Turnovers</th>
            <th>Fouls</th>
        </tr>
    </thead>
    <tbody>
        {% for game in game_logs %}
        <tr>
            <td>{{ game.date }}</td>
            <td>{{ game.minutes }}</td>
            <td>{{ game.points }}</td>
            <td>{{ game.assists }}</td>
            <td>{{ game.rebounds }}</td>
            <td>{{ game.three_pointers }}</td>
            <td>{{ game.steals }}</td>
            <td>{{ game.blocks }}</td>
            <td>{{ game.turnovers }}</td>
            <td>{{ game.fouls }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">No recent games found for this player.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
