<!-- Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the HTML for the watchlist page. Players are saved here for easy access and clicking any of the player cards bring you to their player_detail page, similarly to when you click on any player in the players tab, just quicker navigation! -->

{% extends 'project/base.html' %}

{% block content %}
<div class="watchlist-container">
    <h2>Your Watchlist: ({{ watchlist.count }})</h2>
    {% if watchlist %}
        <div class="player-card-container">
            {% for item in watchlist %}
            <a class="player-card" href="{% url 'player_detail' pk=item.player.pk %}">
                <p class="player-name">{{ item.player.name }}</p>
                <p class="player-team">{{ item.player.team.name }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>You have no players in your watchlist. Add some!</p>
    {% endif %}
</div>
{% endblock %}

