<!-- Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the base html that is rendered on every page.  -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniFacebook</title>
    <link rel="stylesheet" href="{% static 'mini_fb/style.css' %}">
</head>
<body>
    <header>
        <h1 class = "logo">MiniFacebook</h1>
        <nav>
            <h3><a href ="{% url 'create_profile' %}">Create Profile</a></h3>
            <h3><a href="{% url 'show_all_profiles' %}">All Profiles</a></h3>
            {% if user.is_authenticated %}
            <form class = "log-out" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <p>Logged in user: {{ user.username }}</p>
        </nav>
        {% else %}
        <div class = "login">
            <a class = "status-button" href="{% url 'login' %}">Login</a>
            <p>Not logged in. </p>
        </div>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mini Facebook</p>
    </footer>
</body>
</html>
