/* Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the styling for this application. */

body {
    background-color: rgb(96, 96, 238);
    color:rgb(5, 5, 167);
    margin-left: 2em;
    margin-right:2em;
    font-family: Arial, sans-serif;
}

.logo {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: black;
    color: white;
    text-align: left;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-container {
    display:flex;
    justify-content: space-between;
}

.profile-image {
    border-radius:16px;
    border-style:groove;
    border-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}