/* Name: Ivan Yang
BU Email: yangi@bu.edu
Description: This file defines the styling for this application. */

body {
    background-color: rgb(96, 96, 238);
    color:rgb(5, 5, 167);
    margin-left: 2em;
    margin-right:2em;
    font-family: Arial, sans-serif;
}

header {
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: white;
}

.logo {
    padding-top: 6px;
    padding-bottom: 9px;
}

nav {
    display:flex;
    margin-top:-1.8em;
}

nav > h3 {
    margin-right:1.2em;
    background-color: rgb(96, 96, 238);
    border-radius:12px;
    padding: 2px 1px 2px 1px;
}

nav > h3 > a {
    text-decoration: none;
    color:white;
}

.status-button {
    text-decoration: none;
    color:white;
    border-radius:12px;
    padding: 2px 2px 2px 2px;
    background-color: rgb(5, 5, 167);
}

button {
    text-decoration: none;
    color:white;
    border-radius:12px;
    padding: 2px 2px 2px 2px;
    background-color: rgb(5, 5, 167);
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: black;
    color: white;
    text-align: left;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td img {
    max-height:100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-container {
    display:flex;
    justify-content: space-between;
    margin-top:2em;
}

.profile-image {
    border-radius:16px;
    border-style:groove;
    border-color: white;
    max-width: 50%; 
    min-width:40%; 
    height: auto;     
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.status-form textarea {         
    height: 30px;       
    width:80%;  
    padding: 10px;         
    border: 1px solid #ccc;
    border-radius: 5px;    
    font-size: 14px;       
    background-color: #f9f9f9; 
    color: #333;           
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.status-image {
    width:300px;
}
